@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form {
    display: grid;
    grid-template-rows: repeat(2, 40%) 20%;
    grid-template-columns: 100%;
    row-gap: 2rem;
    min-width: 30rem;

    &__section {
        display: flex;
        flex-direction: column;
    }

    &__button {
        padding: 0.7rem;
    }

    &__search {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__input {
        border-radius: 0.5rem;
        border: 0.1rem solid rgb(201, 197, 197);
        color: inherit;
        font-family: sans-serif;
        padding: 0.5rem;
        width: 100%;

        &:focus {
            outline: none;
        }

        &:disabled {
            background-color: rgb(243, 243, 243);
        }
    }

    &__image {
        height: 2rem;
        width: 2rem;
        position: absolute;
        right: 1rem;

        &--spinner {
            animation: rotation 2s linear infinite;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
